/* style.css */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: bottom;
}

canvas {
  border: solid 2px black;
}

iframe {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  visibility: hidden;
}
